body {
    font-family: Arial;
}

#idLogo:hover {
    color: #FF0080;
}


#idLinha {
    border-radius: 5px 15px 5px 15px;
    background-color: #FF0080;
    box-shadow: 10px 3px 5px grey;
    padding: 1px;
    margin-bottom: 10px;
    width: 100%;
    height: 2px;
}

.gray {
    color: gray;
}

.lado {
    float:right;
}

.descricao {
    font-size: large;
    color: #101010;
}

.box {
    margin-bottom: 10px;
    display: inline-block;
}

.boxIndex {
    width: 250px;
    height: 50px;
    background-color: #FF0080;
    transition: all 1.6s;
}

.boxIndex:hover {
    width: 100%;
    border-radius: 0px 20px 20px 0px;
    border-right: 50px dotted transparent;
}

.fundo{
    padding: 10px;
    background-color: #eee;
    border: solid;
    border-color: #5e8a95;
    border-radius: 5px;
    height:188px;
    box-shadow: 2px 1px 6px grey;
}
.fundo2{
    background-color: #eee;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom : 8px;
    box-shadow: 2px 1px 6px grey;
}

.topzero{
    margin-top:0;
}

.linha{
    display: inline-block;
}