@model OverflowedStack.ViewModels.RespostaViewModel
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Autor</th>
            <th>Rm</th>
            <th>Data</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Respostas)
        {
            <tr>
                <td>@item.Aluno.Nome<d>
                <td>@item.AlunoRm</td>
                <td>@item.Data</td>
                <td>@item.Descricao</td>
            </tr>
        }
    </tbody>
</table>
