body {
    font-family: Arial;
}

#idLogo:hover {
    color: #FF0080;
}


#idLinha {
    border-radius: 5px 15px 5px 15px;
    background-color: #FF0080;
    box-shadow: 10px 3px 5px grey;
    padding: 1px;
    margin-bottom: 10px;
    width: 100%;
    height: 2px;
}

.gray {
    color: gray;
}

.lado {
    margin-left: 90%;
}

.descricao {
    font-size: large;
    color: #101010;
}

.box {
    margin-bottom: 10px;
    display: inline-block;
}

.boxIndex {
    width: 250px;
    height: 50px;
    background-color: #FF0080;
    transition: all 1.6s;
}

.boxIndex:hover {
    width: 100%;
    border-radius: 0px 20px 20px 0px;
    border-right: 50px dotted transparent;
}
